@use '../helpers' as *;

.breadcrumbs {
  position: relative;

  display: inline-flex;
  background-color: rgb(182, 181, 174, 0.3);
  padding-left: 10px;
  margin-top: 180px;
  border-radius: 0 40px 40px 0;
  // box-shadow: -2px 3px 4px rgba(57, 55, 54, 0.35);

  &::before {
    position: absolute;
    content: '';
    right: 100%;
    bottom: 0;
    height: 100%;
    width: 100%;

    background-color: rgb(182, 181, 174, 0.3);
    // box-shadow: -2px 3px 4px rgba(57, 55, 54, 0.35);
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 12px;

    @include mobile {
      gap: 5px;
    }
  }

  &__link {
    font-size: 20px;
    font-family: var(--font-family-accent);
    color: var(--color-dark-gray);
    text-transform: uppercase;

    @include mobile {
      font-size: 13px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 18px;

    &:not(:first-child)::before {
      content: url('/src/assets/images/breadcrumbs/breadcrumbs-arrow.svg');
      color: var(--color-dark-gray);
    }

    @include mobile {
      gap: 8px;
    }
  }

  &__current {
    font-size: 20px;
    font-family: var(--font-family-accent);
    color: var(--color-dark);
    padding: 10px 28px;
    text-transform: uppercase;
    background-color: var(--color-primary);
    box-shadow: -2px 3px 4px 0 rgba(57, 55, 54, 0.35);
    white-space: nowrap;

    border-radius: 40px;

    @include mobile {
      font-size: 13px;
      padding: 6px 16px;
    }
  }
}
