@use '../helpers' as *;

.button,
.button:link,
.button:visited {
  display: inline-flex;
  justify-content: center;
  padding: 8px 20px;
  color: var(--color-darker);
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--color-primary);
  white-space: nowrap; // текст в кнопке не перносится
  border-radius: 32px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 4px var(--color-darker);

  &:focus {
    outline: 2px solid var(--color-dark);
    outline-offset: 2px;
  }

  &.button--full-width {
    width: 100%;
    padding: 13px 24px;
    text-align: center;
  }

  &.button--disabled {
    background-color: var(--color-light-gray);
    cursor: not-allowed;
  }

  &.button--card {
    font-family: var(--font-family-accent);
    padding: 5px 20px;
    background-color: var(--color-darker);
    color: var(--color-secondary);
    text-shadow: none;
    box-shadow: none;
    margin-left: auto;
    margin-top: auto;
  }
}
