@use '../helpers' as *;

.categories {
  &__wrapper {
    background: url('/src/assets/images/ categories/categories-bg.jpg') center /
      cover no-repeat;
  }

  &__body {
    @include mobile {
      display: flex;
      justify-content: center;
    }
  }

  &__list {
    margin-top: 40px;

    @include mobile {
      // display: flex;
      // justify-content: center;
    }
  }

  &__list {
    .production-card:not(:first-child) {
      margin-top: 80px;
    }
    .production-card:last-child {
      margin-bottom: 120px;
    }
  }
}
