@use '../helpers' as *;

.emulsion {
  padding-top: 76px;
  padding-bottom: 120px;
  &__item {
    background-color: var(--color-secondary);

    @include tablet {
      display: flex;
      justify-content: center;
    }
  }

  &__item:not(:first-child) {
    margin-top: 60px;
  }

  &__link {
    display: flex;

    @include tablet {
      flex-direction: column;
      gap: 30px;
      width: 80%;
    }
  }

  &__img {
    // @include tablet {
    //   width: 50%;
    // }
  }

  &__main {
    display: flex;
    align-items: center;

    --circleSize: 50px;

    position: relative;
    padding-left: 30px;
    padding-right: 80px;
    flex: 1;

    ::after {
      @include square(var(--circleSize));

      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      translate: 0 -50%;

      background: url('/src/assets/images/emulsion/icons/emulsion-arrow.svg')
        center no-repeat var(--color-darker);
      border-radius: 50%;
    }

    @include mobile {
      --circleSize: 38px;
      padding-left: 0px;
    }

    @include mobile-s {
      --circleSize: 32px;
    }
  }

  &__name {
    font-family: var(--font-family-accent);
    font-size: 29px;
    font-weight: 500;
    color: var(--color-darker);

    @include mobile {
      font-size: 22px;
    }

    @include mobile-s {
      font-size: 19px;
    }
  }
}
