@use '../helpers' as *;

.hero {
  // background-color: var(--color-background);
  // width: 1440px;
  // margin: 0 auto;

  padding-top: 100px;

  @include tablet {
  }

  &__main {
    overflow-x: hidden;
    // position: relative;

    @include tablet {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }

  &__inner {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__body {
    position: relative;
    max-width: 54%;

    z-index: 9;

    @include tablet {
      max-width: 60%;
      margin-top: 30px;
    }

    @include mobile {
      max-width: 90vw;
    }
  }

  &__title {
    font-size: 140px;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--color-black);
    text-shadow: -6px 1px 4px rgba(57, 55, 54, 0.65);

    @include tablet {
      font-size: 100px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    color: var(--color-dark);
    text-shadow: -2px -1px 2px rgba(57, 55, 54, 0.15);
    margin-bottom: 32px;

    @include tablet {
      font-size: 30px;
    }
  }

  &__description {
    color: var(--color-off-white);
    font-weight: 400;
    font-size: 20px;
    text-shadow: -1px 0 1px rgba(255, 252, 240, 0.4);
    margin-bottom: 44px;

    @include tablet {
      font-size: 18px;
    }
  }

  &__img-box {
    // position: relative;
    // width: 46%;
  }

  &__image {
    position: absolute;
    top: -220px;
    display: block;
    width: 1400px;
    overflow-x: hidden;
    height: auto;
    z-index: auto;
    pointer-events: none;
    user-select: none;
    right: -600px;
    left: auto;

    @include tablet {
      display: none;
    }
    @media screen and (max-width: 1250px) {
      width: 1250px;
    }
  }
}
