@use '../helpers' as *;

.production-card {
  @include mobile {
    max-width: 350px;
    min-height: 489px;

    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 350px;
  }

  &__main {
    background-color: rgb(255, 255, 255, 0.7);
    display: flex;

    @include mobile {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px 25px 15px;
    flex: 1;
  }

  &__name {
    font-size: 20px;
    font-family: var(--font-family-accent);
    font-weight: 500;
    color: var(--color-darker);
  }

  &__series {
    color: var(--color-dark-gray);
    font-size: 13px;
    font-family: var(--font-family-accent);
  }

  &__oils:not(:first-child) {
    margin-top: 12px;
  }

  &__link {
    width: 45%;
  }

  &--swiper {
    display: flex;

    height: 490px;
    width: 350px;

    justify-content: center;

    .production-card__main {
      max-width: 350px;
      min-height: 490px;
      flex-direction: column;
    }

    .production-card__link {
      margin-left: auto;
    }

    .production-card__img {
      // width: 100%;
    }
  }
}

.features-list {
  display: grid;
  column-gap: 15px;
  row-gap: 10px;
  grid-template-columns: repeat(3, 1fr);

  &__item {
    font-size: 13px;
    color: var(--color-dark-gray);
    white-space: nowrap;
  }
}
