@use '../helpers' as *;

.production {
  &__header {
    min-height: 600px;
    background: url('/src/assets/images/production/production-header-bg.jpg')
      center / cover no-repeat;
    display: flex;
    align-items: end;
  }

  &__desc {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 50px;

    p {
      color: var(--color-off-white);
      font-size: 20px;
      font-family: var(--font-family-accent);
      flex: 575px 0;
    }
  }

  &__body {
    padding-top: 55px;
    min-height: 965px;
    background: url('/src/assets/images/production/production-body-bg.jpg')
      center / cover no-repeat;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, minmax(350px, 1fr));
    column-gap: 30px;
    margin-top: 60px;
  }
}
