@use '../helpers' as *;

.section-header {
  &__title {
    color: var(--color-off-white);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__title--yellow {
    color: var(--color-primary);
  }

  &--bg {
    background-color: var(--color-darker);
    opacity: 0.8;
    width: 100%;
  }
}
