:root {
  --color-primary: #ffca08;
  --color-secondary: #ffffff;
  --color-off-white: #fffcf0;
  --color-light-gray: #edece6;
  --color-gray: #b6b5ae;
  --color-dark-gray: #6d6d6c;
  --color-dark: #393736;
  --color-darker: #2c2a29;
  --color-black: #040000;

  --color-background: #efeef4;

  --font-family-base: 'Montserrat', sans-serif;
  --font-family-accent: 'Roboto', sans-serif;

  --container-width: 1110px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;
}
